@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
/* @source "../../.flowbite-react/class-list.json"; */

@import "@fontsource/inter";

body {
  font-family: "Inter Variable", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  height: 6px; /* Adjust the height as needed */
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 9, 141, 0.7); /* Adjust the thumb color as needed */
  border-radius: 3px;

  height: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 9, 141, 0.7); /* Adjust the hover thumb color as needed */
}

/* Estilos para el modo oscuro */
